<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field checkbox">
    <%= f.check_box :show_source %>
    <%= f.label :show_source, "Expose RSS sources for this tag (affects RSS feeds)." %>
  </div>
  <div class="actions">
    <%= f.submit "Update tag", :class => 'btn btn-primary' %>
  </div>
<% end %>
