<p id="notice"><%= notice %></p>

<h1>Tag: <em><%= @tag.name %></em></h1>
<hr />
<p>
  Feed title:
  <strong><%= @tag.title %></strong>
</p>

<p>
    Source subscription info <strong><%= @tag.show_source? ? "is" : "is not" %></strong> exposed in this tag's feed.
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', subscriptions_path %>
