<%
  title = "Subscriptions"
  
  if @tag
    if @tag.title
      title += " for <em>#{@tag.title}</em>"
    else
      title += " tagged <em>#{@tag.name}</em>"
    end
  end
%>
<h1><%= title.html_safe %></h1>
<hr/>
<p id="notice"><%= notice %></p>

<p><%= link_to 'New Subscription', new_subscription_path, :class => 'btn' %></p>

<% @subscriptions.each do |subscription| %>
  <div class="subscription row">
  <span class="span6"><%= link_to subscription.title, subscription.url %></span>
  <span class="span1"><%= link_to 'Edit', edit_subscription_path(subscription), :class => 'btn btn-primary btn-mini' %></span>
  <span class="span2"><%= link_to 'Unsubscribe', subscription, :method => :delete , :class => 'btn btn-mini', :confirm => 'Are you sure?' %></span>
  </div>
<% end %>

