<%
  title = "Subscriptions"
  
  if @tag
    if @tag.title
      title += " for <em>#{@tag.title}</em>"
    else
      title += " tagged <em>#{@tag.name}</em>"
    end
  end
%>
<h1><%= title.html_safe %></h1>
<hr/>
<p id="notice"><%= notice %></p>

<p><%= link_to 'New Subscription', new_subscription_path, :class => 'btn' if @user %></p>

<table>
  <tr class="subscription row">
    <th class="span6">Title</th>
    <th class="span1">Items</th>
    <%- if @user %>
    <th class="span3" colspan=2></th>
    <%- end %>
  </tr>
  <% @subscriptions.each do |subscription| %>
    <tr class="subscription row">
      <td class="span6"><%= link_to subscription.title, subscription.url %></td>
      <td class="span1"><%= link_to subscription.download_jobs.count, url_for(subscription) %></td>
      <%- if @user %>
        <td class="span1"><%= link_to 'Edit', edit_subscription_path(subscription), :class => 'btn btn-primary btn-mini' %></td>
        <td class="span2"><%= link_to 'Unsubscribe', subscription, :method => :delete , :class => 'btn btn-mini', :confirm => 'Are you sure?' %></td>
      <%- end %>
    </tr>
  <% end %>
</table>
