<h1>Subscriptions</h1>
<hr/>
<p id="notice"><%= notice %></p>

<p><%= link_to 'New Subscription', new_subscription_path, :class => 'btn' %></p>

<% @subscriptions.each do |subscription| %>
  <div class="subscription row">
  <span class="span6"><%= link_to subscription.title, subscription.url %></span>
  <span class="span1"><%= link_to 'Edit', edit_subscription_path(subscription), :class => 'btn btn-primary btn-mini' %></span>
  <span class="span2"><%= link_to 'Unsubscribe', { :id => subscription, :confirm => 'Are you sure?', :method => :delete }, :class => 'btn btn-mini' %></span>
  </div>
<% end %>

