<h1>Listing subscriptions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Destination</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.title %></td>
    <td><%= subscription.destination %></td>
    <td><%= link_to 'Details', subscription %></td>
    <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
    <td><%= link_to 'Unsubscribe', subscription, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscription', new_subscription_path %>
