<p id="notice"><%= notice %></p>

<h1><%= @subscription.title %></h1>
<hr />

<p>
  <b>Destination:</b>
  <%= @subscription.destination.blank? ? "<em>None</em>".html_safe : @subscription.destination %>
</p>

<p>
  <b>Extension:</b>
  <%= @subscription.extension.present? ? '.' + @subscription.extension : "<em>None</em>".html_safe %>
</p>

<p>
  <b>URL:</b>
  <a href="<%= @subscription.url %>"><%= @subscription.url %></a>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
