<%= form_for(@download_job) do |f| %>
  <% if @download_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@download_job.errors.count, "error") %> prohibited this download_job from being saved:</h2>

      <ul>
      <% @download_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :tag_names %><br />
    <%= f.text_field :tag_names %>
  </div>  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
