<%= form_for(@download_job) do |f| %>
  <% if @download_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@download_job.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @download_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :directory %>
    <%= f.text_field :directory %>
  </div>
  <div class="field">
    <%= f.label :tag_names %>
    <%= f.text_field :tag_names %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Status.values %>
  </div>
  <div class="field radio">
    <%= radio_button_tag 'download_job[user_id]', @user.id, @download_job.user == @user %>
    <label for="download_job_user_id_<%= @user.id %>">Only I can see this item</label>
    <br />
    <%= radio_button_tag 'download_job[user_id]', '', @download_job.user != @user %>
    <label for="download_job_user_id_">Anyone can see this item</label>
  </div>
  <div class="actions">
    <%= f.submit "Update item", :class => 'btn btn-primary' %>
  </div>
<% end %>
