<% 
  title = "Items" 
  if @tag
    if @tag.title
      title = @tag.title 
    else
      title += " tagged <em>#{@tag.name}</em>"
    end
  end
%>
<h1><%= title.html_safe %></h1>
<hr />
<% @download_jobs.each do |download_job| %>
  <div class="row">
    <span class="span6"><%= link_to download_job.title, download_job.url %></span>
    <span class="span2"><%= download_job.status %></span>
    <%- if @user %>
      <span class="span1"><%= link_to 'Edit', edit_download_job_path(download_job), :class => 'btn btn-mini btn-primary' %></span>
      <span class="span1"><%= link_to 'Destroy', download_job, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini' %></span>
    <%- end %>
  </div>
<% end %>
<%= will_paginate @download_jobs, :renderer => BootstrapPagination::Rails %>

