<!DOCTYPE html>
<html>
<head>
  <title>Grabbit3</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="offset1 span11">
<div id="user_greeting">
<% if @user %>
<strong><%= @user.name || @user.open_id %></strong><br />
<a href="/logout" class="btn">Log out</a>
<% else %>
<a href="/auth/open_id/" class="btn">Log in</a>
<% end %>
</div>

<%= yield %>

</body>
</html>
